.DS_Store
/.build
/Packages
/dist/InspirationBar.app
/dist/AppIcon.iconset
/../InspirationBar.app
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
